.search-item {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
.avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }
}
.name {
  display: flex;
  align-items: center;
  color: #20d5ec;
  font-size: 12px;
  h4 {
    margin-right: 8px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.8);
  }
}
.account {
  font-size: 14px;
  line-height: 20px;
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
