.loading-icon {
  color: currentColor;
}
.clear-icon {
  color: currentColor;
}

.add-icon {
  color: rgba(22, 24, 35, 1);
}
.search-icon {
  color: currentColor;
}
.inbox-icon {
  color: rgba(22, 24, 35, 1);
}
.sent-message-icon {
  color: rgba(22, 24, 35, 1);
}
